<title>Slack Spotify Status</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/vue/dist/vue.js"></script>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
