<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-800">
  <div class="mdl-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-800">
      <div class="mdl-layout__header-row sss-header-row">
        <span class="mdl-layout-title">Slack Spotify Status</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </div>
    </header>
    <div class="sss-ribbon"></div>
    <main class="mdl-layout__content sss-main">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col"></div>
        <div class="mdl-cell mdl-cell--8-col mdl-color--white mdl-shadow--4dp sss-content">
