<% include layouts/main-being.ejs %>

<h3>Connect your Spotify and Slack accounts</h3>
<p>
  Show what's currently playing on Spotify as your Slack status. As a bonus,
  status emojis are set based on the song and artist name when possible. Sign
  in with your Spotify and Slack accounts to get started.
</p>
<% if (!hasSpotifyAccessToken) { %>
<p>
  <i>Note: You may need to click <b>Connect to Spotify</b> a few times before it works (<a href="https://github.com/micthiesen/spotify-my-slack/issues/9">details here</a>)</i>
</p>
<% } %>
<p class="sss-button-group">
  <% if (userId) { %>
    <a
      class="mdl-button mdl-js-button"
      disabled
      >
      Your Status is being Monitored
    </a>
  <% } else { %>
    <a
      class="mdl-button mdl-js-button mdl-js-ripple-effect sss-button--green"
      <% if (!hasSpotifyAccessToken) { %>href="/spotify-grant"<% } %>
      <% if (hasSpotifyAccessToken) { %>disabled<% } %>
      >
      <% if (hasSpotifyAccessToken) { %>Spotify Connected<% } else { %>Connect Spotify<% } %>
    </a>
    <a
      class="mdl-button mdl-js-button mdl-js-ripple-effect sss-button--amber"
      <% if (!hasSlackAccessToken) { %>href="/slack-grant"<% } %>
      <% if (hasSlackAccessToken) { %>disabled<% } %>
      >
      <% if (hasSlackAccessToken) { %>Slack Connected<% } else { %>Connect Slack<% } %>
    </a>
  <% } %>
  <% if (userId) { %>
  <a
    class="mdl-button mdl-js-button mdl-js-ripple-effect sss-button--red"
    href="/delete-account"
    >
    Stop
  </a>
  <% } %>
  <% if (userId | hasSpotifyAccessToken | hasSlackAccessToken) { %>
  <a
    class="mdl-button mdl-js-button mdl-js-ripple-effect"
    href="/sign-out"
    >
    <% if (userId) { %>Sign Out<% } else { %>Clear<% } %>
  </a>
  <% } %>
</p>

<% include layouts/main-end.ejs %>
