<% include layouts/main-being.ejs %>

<h3>Connect your Spotify and Slack accounts</h3>
<p>
  Cillum dolor esse sit incididunt velit eiusmod magna ad nostrud officia aute
  dolor dolor. Magna esse ullamco pariatur adipisicing consectetur eu commodo
  officia. Ex cillum consequat mollit minim elit est deserunt occaecat nisi
  amet. Quis aliqua nostrud Lorem occaecat sunt. Eiusmod quis amet ullamco
  aliquip dolore ut incididunt duis adipisicing. Elit consequat nisi eiusmod
  aute ipsum sunt veniam do est. Occaecat mollit aliquip ut proident
  consectetur amet ex dolore consectetur aliqua elit.
</p>
<p class="sss-button-group">
  <a
    class="mdl-button mdl-js-button sss-button--green"
    <% if (!hasSpotifyAuthCode) { %>href="/spotify-auth"<% } %>
    <% if (hasSpotifyAuthCode) { %>disabled<% } %>
    >
    <% if (hasSpotifyAuthCode) { %>Spotify Connected<% } else { %>Connect Spotify<% } %>
  </a>

  <a
    class="mdl-button mdl-js-button sss-button--amber"
    <% if (!hasSlackAuthCode) { %>href="/slack-auth"<% } %>
    <% if (hasSlackAuthCode) { %>disabled<% } %>
    >
    <% if (hasSlackAuthCode) { %>Slack Connected<% } else { %>Connect Slack<% } %>
  </a>

  <% if (hasSpotifyAuthCode | hasSlackAuthCode) { %>
  <a
    class="mdl-button mdl-js-button mdl-js-ripple-effect"
    href="/clear-user-data"
    >
    Clear
  </a>
  <% } %>
</p>

<% include layouts/main-end.ejs %>
