<% include layouts/main-being.ejs %>

<h3>Connect your Spotify account</h3>
<p>
  Cillum dolor esse sit incididunt velit eiusmod magna ad nostrud officia aute
  dolor dolor. Magna esse ullamco pariatur adipisicing consectetur eu commodo
  officia. Ex cillum consequat mollit minim elit est deserunt occaecat nisi
  amet. Quis aliqua nostrud Lorem occaecat sunt. Eiusmod quis amet ullamco
  aliquip dolore ut incididunt duis adipisicing. Elit consequat nisi eiusmod
  aute ipsum sunt veniam do est. Occaecat mollit aliquip ut proident
  consectetur amet ex dolore consectetur aliqua elit.
</p>

<% include layouts/main-end.ejs %>
