<title>Spotify my Slack</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="IDsfIdYYc5KMwDbljRULQ62djK-jpCD9YTwr4Yxf3r8">
<link rel="stylesheet" type="text/css" href="/static/material-design-lite/dist/material.red-amber.min.css">
<link rel="stylesheet" type="text/css" href="/static/stylesheets/main.css">
<link rel="icon" type="image/png" href="/static/images/favicon.png">
