<% include ../layouts/main-being.ejs %>

<h3>Users</h3>
<% users.forEach(function(user) { %>
  <li><%= user.firstName %> <%= user.lastName %> <%= user.email %></li>
<% }); %>

<% include ../layouts/main-end.ejs %>
