          </div>
        </div>
      </div>
      <footer class="mdl-typography--text-center sss-footer">
        <p>
          <a class="mdl-color-text--grey-800" href="https://github.com/micthiesen/spotify-my-slack" target="_blank">Built</a> by <a class="mdl-color-text--grey-800" href="http://www.micthiesen.ca" target="_blank">Michael</a> ❤️
        </p>
      </footer>
    </main>
    <script defer src="/static/material-design-lite/dist/material.min.js"></script>
  </div>
</body>
</html>
