.sss-header-row {
  padding-left: 40px;
}

.sss-subtitle {
  padding-left: 16px;
}

.sss-main {
  display: block;
  width: 100%;
  margin-top: -35vh;
}
.sss-ribbon {
  height: 40vh;
  background-color: #1db954;
}

.sss-content {
  border-radius: 2px;
  padding: 40px 28px;
}

.sss-footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sss-footer a {
  text-decoration: none;
}

.sss-button-group > .mdl-button {
  margin-top: 8px;
}
.sss-button-group > .mdl-button[disabled] {
  background-color: #ededed;
  color: #808080;
}
.sss-button-group > .mdl-button:not(:last-child) {
  margin-right: 8px;
}

.sss-button--green, .sss-button--green:hover {
  color: white;
  background-color: #1db954;
}
.sss-button--amber, .sss-button--amber:hover {
  color: white;
  background-color: #e9a820;
}
.sss-button--red, .sss-button--red:hover {
  color: white;
  background-color: #e01563;
}
