@import '~@blueprintjs/core/src/common/variables';

$slack-aubergine: #4a154b;
$slack-black: #1d1c1d;
$slack-blue: #36c5f0;
$slack-green: #2eb67d;
$slack-red: #e01e5a;
$slack-white: #ffffff;
$slack-yellow: #ecb22e;

$spotify-black: #191414;
$spotify-green: #1db954;
$spotify-white: #ffffff;

$pt-dark-app-background-color: $slack-aubergine;
$pt-dark-text-color: $slack-white;
$pt-dark-text-color-muted: darken($slack-white, 20%);
$dark-card-background-color: lighten($slack-aubergine, 5%);

$pt-intent-primary: $slack-blue;
$pt-intent-success: darken($spotify-green, 5%);
$pt-intent-warning: darken($slack-yellow, 10%);
$pt-intent-danger: $slack-red;
$pt-intent-primary-hover: darken($pt-intent-primary, 10%);
$pt-intent-success-hover: darken($pt-intent-success, 8%);
$pt-intent-warning-hover: darken($pt-intent-warning, 10%);
$pt-intent-danger-hover: darken($pt-intent-danger, 10%);
$pt-intent-primary-active: darken($pt-intent-primary-hover, 5%);
$pt-intent-success-active: darken($pt-intent-success-hover, 5%);
$pt-intent-warning-active: darken($pt-intent-warning-hover, 5%);
$pt-intent-danger-active: darken($pt-intent-danger-hover, 5%);
$button-intents: (
  'primary': (
    $pt-intent-primary,
    $pt-intent-primary-hover,
    $pt-intent-primary-active,
  ),
  'success': (
    $pt-intent-success,
    $pt-intent-success-hover,
    $pt-intent-success-active,
  ),
  'warning': (
    $pt-intent-warning,
    $pt-intent-warning-hover,
    $pt-intent-warning-active,
  ),
  'danger': (
    $pt-intent-danger,
    $pt-intent-danger-hover,
    $pt-intent-danger-active,
  ),
);
