$container-spacing: 2rem;
$content-spacing: 1.5rem;
$button-spacing: 0.5rem;

.App {
  position: relative;
}
.App__backdrop {
  position: absolute;
  left: 0;
  right: 0;
  height: 16rem;
  background: #1db954;
  z-index: -1;
}
.App__bar {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.App__bar__title {
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  span {
    color: #424242;
    margin-right: 1rem;
  }
}
.App__container {
  max-width: 730px;
}
.App__container__content {
  margin: $container-spacing 0;
  padding-top: $content-spacing + 0.5rem;
  padding-left: $content-spacing;
  padding-bottom: $content-spacing;
  padding-right: $content-spacing;
}
.App__container__content > .App__container__content_h {
  letter-spacing: normal;
}
.App__container__content > .MuiTypography-root {
  margin: $content-spacing 0;
  &:first-of-type {
    margin-top: 0;
  }
}
.App__container__content > .App__container__content_p {
  // This is the last item before the buttons
  margin-bottom: $content-spacing - $button-spacing;
}
.App__container__content > .UserSettings {
  margin-top: $content-spacing;
}
.App footer {
  margin: $container-spacing 0;
  a {
    text-decoration: none;
    color: inherit;
  }
}
