.App {
  display: grid;
  justify-items: center;
  min-height: 100vh;
}
.App > div {
  max-width: 40rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  &:not(:last-of-type) {
    margin-top: 2rem;
  }
}

.App__container {
  align-self: flex-start;
}
.App__footer {
  align-self: flex-end;
}
