$app-container-max-width: 640px;
$app-container-spacing: 20px;
$app-v-spacing: 10px;

.App {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  min-height: 100vh;
  padding-bottom: $app-v-spacing;
  padding-top: $app-v-spacing;
}
.App__container {
  max-width: $app-container-max-width;
  padding: $app-container-spacing;
}
.App__container.App__container--footer {
  align-self: flex-end;
}

@media (max-width: $app-container-max-width + $app-container-spacing * 2) {
  .App {
    padding-top: 0;
  }
}
