.sss-header-row {
  padding-left: 40px;
}

.sss-subtitle {
  padding-left: 16px;
}

.sss-main {
  width: 100%;
  margin-top: -35vh;
}
.sss-ribbon {
  height: 40vh;
}
.sss-ribbon-left, .sss-ribbon-right {
  height: 100%;
  width: 50%;
}
.sss-ribbon-left {
  background-color: #1db954;
  float: left;
}
.sss-ribbon-right {
  background-color: #e9a820;
  float: right;
}

.sss-content {
  border-radius: 2px;
  margin-bottom: 80px;
  padding: 40px 28px;
}

.sss-footer {
  margin-bottom: 40px;
}

.sss-footer a {
  text-decoration: none;
}

.sss-button-group > .mdl-button:not(:last-child) {
  margin-right: 8px;
}

.sss-button--green {
  color: white;
  background-color: #1db954;
}
.sss-button--green:hover {
  background-color: #1db954;
}
.sss-button--amber {
  color: white;
  background-color: #e9a820;
}
.sss-button--amber:hover {
  background-color: #e9a820;
}
