.sss-header-row {
  padding-left: 40px;
}
.sss-main {
  width: 100%;
  margin-top: -35vh;
}
.sss-ribbon {
  height: 40vh;
  background-color: #1db954;
}

.sss-content {
  border-radius: 2px;
  margin-bottom: 80px;
  padding: 40px 28px;
}
